@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

#app-container {
  background-color: #6ccff6;
}

.window {
  border: 1px solid black;
  background-color: #f5f0f6;
  margin-bottom: 1rem;
  box-shadow: 5px 10px rgba(65, 51, 122, 0.7);
}

.bar {
  background-color: #41337a;
  font-family: "VT323", monospace;
  font-size: 1.5rem;
  color: #f5f0f6;
  padding-left: 0.5rem;
}

#editor,
#preview {
  background-color: #f5f0f6;
  margin: 0;
  border: 0;
}

#editor:focus {
  outline: 0;
}

#editor {
  min-height: 50vh;
}

#preview {
  height: 50vh;
  overflow-y: scroll;
}